body{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.content{
    width: 500px;
    background-color: rgb(199, 190, 190);
    padding: 15px;
    border-radius: 5px;

}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: azure;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
button:hover{
    background-color: rgb(243, 102, 51);
}